<nav class="header">
    <div class="titulo">
        <h1><a href="/">NodeBlog</a></h1>
        <p>by Ria Rabanales</p>
    </div>
    <ul class="navegacion">
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Publicar</a></li>
    </ul>
</nav>