<div class="welcome" 
    fxLayout="column" fxLayoutAlign="center center"
    fxLayout.gt-md="row" fxLayoutGap.gt-md="33px"
>
    <section>
        <mat-icon color="primary">scatter_plot</mat-icon>
        <h1>First rule about fitness app!</h1>
        <p>You don't talk about fitness app.</p>
    </section>
    <section>
        <mat-icon color="accent">scatter_plot</mat-icon>
        <h1>Second rule about fitness app!</h1>
        <p>You don't talk about fitness app.</p>
    </section>
    <section>
        <mat-icon color="primary">scatter_plot</mat-icon>
        <h1>Last rule about fitness app!</h1>
        <p>You never talk about fitness app.</p>
    </section>
</div>