<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <p>Sidenav</p>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button (click)="sidenav.toggle()">Toggle Sidenav</button>
            </div>
            <div>LOGO</div>
            <div>
                <a routerLink="/signup">Sign Up</a>
                <a routerLink="/login">Log In</a>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>