<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeBlog | <%= title %></title>
</head>
<body>

    <nav class="header">
        <div class="titulo">
            <h1><a href="/">NodeBlog</a></h1>
            <p>by Ria Rabanales</p>
        </div>
        <ul class="navegacion">
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Postear</a></li>
        </ul>
    </nav>

    <nav class="content notfound">
        <h2>404</h2>
        <p>Página no encontrada :(</p>
    </nav>

</body>
</html>