<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeBlog | <%= title %></title>
</head>
<body>

    <!-- así paso data -->
    <% const name = 'Ria Rabanales' %>

    <nav class="header">
        <div class="titulo">
            <h1><a href="/">NodeBlog</a></h1>
            <p>by <%= name %></p>
        </div>
        <ul class="navegacion">
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">Postear</a></li>
        </ul>
    </nav>

    <nav class="content about">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit repudiandae recusandae.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit in alias atque modi quisquam neque molestias eius unde, quibusdam consequuntur nulla ipsa, blanditiis mollitia officiis repudiandae dolor reiciendis laborum amet dolorem accusantium est doloribus eligendi cumque. Dolorem ea voluptate at! Hic enim non, ea facere odio minima architecto ab cumque consequatur nulla mollitia delectus quis, sed, nisi quisquam expedita nemo vero tenetur quo. Dignissimos similique optio enim necessitatibus, pariatur ad officiis tenetur numquam deserunt a velit placeat consequuntur officia sit odio aliquam! Fugiat impedit, nemo unde quae ducimus assumenda libero cum officia quasi dignissimos placeat illum ratione? Cumque, consequuntur aliquam dolorem nobis sunt sint odio repellendus, dignissimos rerum deserunt, soluta inventore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa unde cupiditate dolorem nisi, facilis nesciunt, maxime error ex, eligendi sit velit dolore mollitia! Ratione incidunt architecto, tenetur odio aspernatur adipisci ea rerum impedit repellat explicabo quam facere expedita earum dolor dignissimos dolore.</p>
    </nav>

</body>
</html>