<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="content create">
        <h2>Nuevo post</h2>
        <form>
            <label for="title">Título:</label>
            <input type="text" id="title" required>
            <label for="snippet">Titular:</label>
            <input type="text" id="snippet" required>
            <label for="body">Contenido:</label>
            <input type="text" id="body" required>
            <button>Enviar</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>